.modal {
    visibility: hidden;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    opacity: 0;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  }
  
  .modal_type_preview {
    padding: 0 16px;
  }
  
  .modal_is-opened {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }
  
  .modal__container {
    max-width: 730px;
    width: 100%;
    border-radius: 8px;
    background-color: #fff;
    position: relative;
    padding: 32px 50px;
    box-sizing: border-box;
  }
  
  .modal__close-btn {
    position: absolute;
    top: 32px;
    right: 50px;
    width: 40px;
    height: 40px;
    opacity: 40%;
    border: none;
    background: center / contain no-repeat #fff url("../images/close.svg");
    padding: 0;
    cursor: pointer;
    opacity: 0.4;
    transition: opacity 0.5s ease-in;
  }
  
  .modal__close-btn:hover {
    opacity: 1;
  }
  
  .modal__form {
    display: flex;
    flex-direction: column;
  }
  
  .modal__title {
    margin: 0;
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
    padding: 0 0 32px;
    color: #212121;
  }
  
  .modal__label {
    color: rgba(33, 33, 33, 0.7);
    font-size: 16px;
    font-weight: 500;
    line-height: 17.6px;
    margin: 0 0 32px;
    display: block;
  }
  
  .modal__input {
    border: solid 1px rgba(33, 33, 33, 0.4);
    border-radius: 8px;
    padding: 16px 12px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 8px 0 0;
    transition: border 0.5s ease-in;
    color: #212121;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
  }
  
  .modal__input::placeholder {
    color: rgba(33, 33, 33, 0.3);
  }
  
  .modal__input:hover {
    border: solid 1px rgba(33, 33, 33, 1);
  }
  
  .modal__input_type_error {
    border: solid 1px rgba(255, 0, 0, 0.6);
  }
  
  .modal__error {
    display: block;
    color: rgba(255, 0, 0, 0.7);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 8px;
  }
  
  .modal__submit-btn {
    color: #fcf5e5;
    background-color: #212121;
    padding: 18px 58px;
    max-width: 156px;
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    border: none;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s;
  }
  
  .modal__submit-btn:hover {
    opacity: 0.8;
  }
  
  .modal__submit-btn_disabled {
    background: rgba(33, 33, 33, 0.5);
  }
  
  
  @media screen and (max-width: 627px) {
    .modal__container {
      padding: 12px;
      /* max-width: 300px; */
    }
  
    .modal__title {
      padding: 10px 0;
      font-size: 20px;
    }
  
    .modal__form {
      margin-top: 24px;
    }
  
    .modal__close-btn {
      top: 12px;
      right: 12px;
    }
  
    .modal__close-btn_type_preview {
      right: 0;
      top: -48px;
    }
  
    .modal__label {
      margin: 0 0 24px;
    }
  
    .modal__input {
      font-size: 16px;
      line-height: 1;
    }
  
    .modal__submit-btn {
      max-width: none;
      width: 100%;
    }
  
  }
  